.App {
  text-align: center;
  color: black;
  background: black;
  background-image: url("./1.png");
  padding-top: 60px;
  padding-bottom: 60px;
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}








#container {
    display: inline-block;
}

#container ul {
  width: 350px;
  height: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 35px;
  background: rgba(0, 0, 0, 0.60);
  box-shadow: 0 12.5px 10px rgba(0, 0, 0, 0.08), 0 100px 80px rgba(0, 0, 0, 0.03);
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#container ul li {
  list-style: none;
  display: grid;
  place-items: center;
  z-index: 10;
  cursor: pointer;
}
.segmented-control__input {
    position: absolute;
    visibility: hidden;
}
.segmented-control__label {
    display: block;
    margin: 0 -1px -1px 0; /* -1px margin removes double-thickness borders between items */
    padding: 1em .25em;
    color: #A9A9A9;
    font: sans-serif; /*    14px/1.5*/
    text-align: center;
    width:100%;
    box-sizing:border-box;
    cursor: pointer;
    border-radius: 35px;
}
.segmented-control__item:hover {
    background: #fafafa;
    border-radius: 35px;
}
.segmented-control__input:checked + .segmented-control__label {
    background: #eee;
    color: #333;
}







/*.tab-list {  border-bottom: 1px solid #ccc;*/
/*  padding-left: 0;*/
/*}*/
/**/
/*.tab-list-item {*/
/*  display: inline-block;*/
/*  list-style: none;*/
/*  margin-bottom: -1px;*/
/*  padding: 0.5rem 0.75rem;*/
/*}*/
/**/
/*.tab-list-active {*/
/*  background-color: white;*/
/*  border: solid #ccc;*/
/*  border-width: 1px 1px 0 1px;*/
/*}*/









.loading {
  text-align: center;
  color: white;
}

.date {
  font-size: 14px;
}

.vers {
  font-weight: 700;
}

.devotional {
  box-shadow: 0 12.5px 10px rgba(0, 0, 0, 0.08), 0 100px 80px rgba(0, 0, 0, 0.03);
  margin: 80px;
  background: #fff;
  padding-top: 60px;
  padding-bottom: 60px;
  border-radius: 35px;
  font-size: calc(10px + 1.5vmin);
}

.content {
    text-align: justify;
    margin: 80px;
}
